<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cliente Crear</title>
</head>
<body>

<h1>Formulario Crear Cliente</h1>
<form th:action="@{/demoth/crear}" th:object="${cliente}" method="post">


    <labe>Nombre</labe>
    <Input th:field="*{nombre}">

    <br>

    <Label>Apellido 1</Label>
    <Input th:field="*{apellido1}">

    <br>

    <Label>Apellido 2</Label>
    <Input th:field="*{apellido2}">

    <br>

    <button type="submit">Enviar</button>

</form>


</body>
</html>